[defaults]
inventory = inventories/prod/hosts.yml
roles_path = roles
collections_path = ./.ansible/collections:~/.ansible/collections:/usr/share/ansible/collections
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
stdout_callback = default
result_format = yaml
gathering = smart
forks = 10
vault_password_file = .vault_pass

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = False
